@import "variables";

.login-card {
    background-color: $lightBlue;
    border-radius: 5px;
}
.login-img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.login-hospital-title {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
    font-size: 32px;
}
.login-logo-img {
    height: 200px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.login-btn-font {
    font-size: 24px !important;
    font-weight: 600 !important;
}
.form-control-text {
    font-size: 20px !important;
}

.footer-quote {
    letter-spacing: 8px;
    margin-top: 20px;
    color: #666;
    text-align: center;
}
