// Body
$body-bg: #fff;
$primary: #1ca0f4;
$primaryHover: #0b8cdf;
$primaryActive: #0a85d3;
$lightBlue: #daeefb;
$lightGrey: #f1f1f1;

$coralBlue: #eaf3f9;

$burnedBlueGrey: #d1dfe6;
$burnedBlueGreyBorder: #c3cfd6;
$burnedBlueGreyTitle: #0b364c;
// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Black Shades
$font-light-grey: #6f6f6f;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
